<br>
<br>
<div class="about_content">
  <%= link_to "https://twitter.com/web_200" do %>
    <%= image_tag 'line_106517040313220.jpg', class: "image"%>
    <h2>リョウマルヤマについて</h2>
  <% end %>

  <p>こんにちはリョウマルヤマのページへようこそ</p>
  <p>リョウマルヤマは横浜生まれ横浜育ちの30歳です</p>
  <p>2021年8月31日、4ヶ月通ったDIVE INTO CODE/Webエンジニアコースを卒業しました</p>
</div>
<br>
