<br>
<br>
<div class="about_content">
  <%= link_to "https://twitter.com/web_200" do %>
    <%= image_tag 'line_106517040313220.jpg', class: "image"%>
    <h2>Twitter</h2>
    <%= link_to "https://www.wantedly.com/id/suzuka_maruyama" do  %>
    <h2>Wantedly</h2>
  <% end %>

  <p>こんにちは,リョウマルヤマのページへようこそ!!ゆっくりしてってください</p>


</div>
<% end %>
<br>
