<br>
<br>
<div class="about_content">
  <%= link_to "https://twitter.com/web_200" do %>
    <%= image_tag 'line_106517040313220.jpg', class: "image"%>
    <h2>リョウマルヤマについて</h2>
  <% end %>

  <p>こんにちはリョウマルヤマのページへようこそ</p>
</div>
<br>
