<h1>Community Maker</h1>
<p>〜自分の人生にコミュニティを1つ追加しませんか？
Community Makerはコミュニティを作りたい人と、コミュニティに参加したい人をマッチングさせるアプリです。
しかし！このコミュニティ掲示板は30コメントに達すると自動的に消滅してしまう！
30コメントに達する前に、集まった仲間をLine,mixi,TwitterなどのSNSに誘導してコミュニティを継続させよう！！
ゲーム感覚でコミュニティを自由に作り、楽しんで頂きたいです。〜​</p>


<%= link_to t('view.アカウント作成'), new_user_registration_path %>
<%= link_to t('view.ログイン'), new_user_session_path %>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
