<div class="name text-center">
<h1>Community Maker</h1>
<br>
<br>
<br>
<br>
<br>
<p>自分の人生にコミュニティを1つ追加しませんか？</p>
<p>Community Makerはコミュニティを作りたい人と、コミュニティに参加したい人をマッチングさせるアプリです。</p>
<p>しかし！このコミュニティ掲示板は30コメントに達すると自動的に消滅してしまう！</p>
<p>30コメントに達する前に、集まった仲間をLine,mixi,TwitterなどのSNSに誘導してコミュニティを継続させよう！！</p>
<p>ゲーム感覚でコミュニティを自由に作り、楽しんで頂きたいです。​</p>
<div>
<br>
<br>
<br>
<br>
<br>

<%= link_to t('view.アカウント作成'), new_user_registration_path, class: 'btn btn-default' %>
<%= link_to t('view.ログイン'), new_user_session_path, class: 'btn btn-default' %>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: 'btn btn-default', method: :post %>
<%= link_to 'ゲスト管理者ログイン（閲覧用）', users_guest_admin_sign_in_path,class: 'btn btn-default', method: :post %>
