/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require bootstrap/dist/css/bootstrap.min

 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 footer {
   background-color: #fafafa;
   height: 30px;
   width: 100%;

   left: 0;
   bottom: 0;
   display: table;
   position: fixed;
  　text-align: center;
 }
 .footer p {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   color: #000;
   text-align: center;
   vertical-align: middle;
   display: table-cell;
 }

 .field_with_errors {
   display: contents;
   display: inline;
 }

 #error_explanation {
  margin: 0 auto;
}

p{
  font-family: 'Klee One', cursive;

}

h1{
  font-family: 'Allison', cursive;
  color: white;
  font-size: 60px;

}

h2{
  font-family: 'Allison', cursive;
  font-size: 50px;
}



.filefield{
    width: 250px;
    margin: 0 auto;
}

.textfield{
    width: 250px;
    margin: 0 auto;
}

.search_field{
  width: 350px;
  margin: 0 auto;
}

.content_field{
  width: 350px;
  height: 100px;
}

.pagination {
  justify-content: center;
}

.banner_icon{
  height: auto;
  margin:0 auto;
  width: 175px;
}

.bgimage {
  background-image: url('IMG_0995.PNG');
  background-size: cover;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #333333;
  width: 250px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #FFD700;
}

a.btn--radius {
   border-radius: 100vh;
}

a.btn-gradient {
  font-size: 2rem;
  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}


a.btn-gradient span {
  background-image: -webkit-gradient(linear, left top, right top, from(#93a5cf), to(#e4efe9));
  background-image: -webkit-linear-gradient(left, #93a5cf 0%, #e4efe9 100%);
  background-image: linear-gradient(to right, #93a5cf 0%, #e4efe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.btn-gradient:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
