// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrap{
  position: relative;
}





 .footer{
     position: absolute;/* ←絶対位置 */
     bottom: 0;
     text-align: center;
 }
