// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  background-color: #fafafa;
  height: 30px;
  width: 100%;

  left: 0;
  bottom: 0;
  display: table;
  position: fixed;
  text-align: center;
}
.footer p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #000;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#error_explanation {
 margin: 0 auto;
}

.namefield{
    width: 500px;
    margin: 0 auto;
}

.descriptionfield{
    width: 500px;
    height: 200px;
    margin: 0 auto;
}
.dokuro_field{
  width: 50px;
}

.p-top {
  min-width: 960px;
  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;
    th {
        padding: 0 15px;
    }
    td {
      padding: 0 15px;
    }
  }
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}

.banner_icon_community{
  height: auto;
  margin:0 auto;
  width: 180px;
}

li{
  color: red;
}

.btn btn-info{
  color: white;
}

.community_index_icon{
  width: 50px;
  height: 50px
}

.community_show_icon{
  width: 200px;
}

.community_name{
  color: red;
}

a.btn--circle {
  color: white;
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #FF0066;
  -webkit-box-shadow: 0 5px 0 #FF0066;
  box-shadow: 0 5px 0 #FF0066;
}

a.btn--circle:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  background-color:#FFCCFF;
  -webkit-box-shadow: 0 2px 0 #FFCCFF;
  box-shadow: 0 2px 0 #FFCCFF;
}

a.btn--sanka {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #00FF00;
  -webkit-box-shadow: 0 5px 0 #00FF00;
  box-shadow: 0 5px 0 #00FF00;
}

a.btn--sanka:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  background-color:#FFFF88;
  -webkit-box-shadow: 0 2px 0 #FFFF88;
  box-shadow: 0 2px 0 #FFFF88;
}
