.background {
  background-image: image-url('image0.jpeg');
}
p{
  font-family: 'Klee One', cursive;

}

h4{
  color: white;
  font-size: 25px;
}

h6{
  color: white;
  font-size: 15px;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #333333;
  width: 250px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #FFD700;
}

a.btn--radius {
   border-radius: 100vh;
}

.about_content {
  text-align: center;

}

.image{
  width: 200px;
}
