// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 200px; /*追加*/
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); /*調整*/


}



.field_with_errors {
 display: inline;
}


.filefield{
    width: 100px;
    margin: 0 auto;
}

.textfield{
    width: 250px;
    margin: 0 auto;
}
.self_description_field{
    width: 250px;
    height: 100px;
    margin: 0 auto;
}
